.company-icon {
  border-radius: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
}

.company-icon .letter {
  color: #fff;
  font-weight: 600;
}

.company-icon img {
  max-height: 20px;
  max-width: 20px;
}
